
/* css for all the text on the page */


body {
	font-family: 'Merriweather', 'Josefin Sans', 'Noto Sans';
	font-size: 1.5vw;
	margin: 0px;
}
.wrap {
	overflow: hidden;
}
#start {
	font-family: 'Josefin Sans', 'Noto Sans';
	text-align: center;
	position: relative;
	-webkit-animation: colorchange 20s infinite;
	animation: colorchange 20s inifinite;
}


@keyframes colorchange
{
0%   {background: #22989c;}
12%  {background: #66b595;}
40%  {background: #d1d843;}
65%  {background: #fb5954;}
90% {background: #66b595;}
100% {background: #22989c;}
}

@-webkit-keyframes colorchange /* Safari and Chrome */
{
0%   {background: #22989c;}
12%  {background: #66b595;}
40%  {background: #d1d843;}
65%  {background: #fb5954;}
90% {background: #66b595;}
100% {background: #22989c;}
}

.down {
	opacity: 0.3;
	width: 50px;
	height: 50px;
	position: absolute;            
	top: 90%;
	margin-right: -50%;
    transform: translate(-50%, -50%);
}

.down:hover {
	opacity: 1;
	cursor: pointer;
}

h1 {
	font-weight: 300;
	color: #FFFFFF;
	font-size: 8vw;
	position: absolute;            
	top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

h2 {
	padding-top: 40px;
	color: #FFFFFF;
	font-weight: 100;
	font-size: 5vw;
}

h2.tagline {
	position: absolute;            
	top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

h3 {
	font-family: 'Merriweather';
	font-weight: 100;
	font-size: 2.5vw;
}

#intro {
	color: #ffffff;
	opacity: 0.9;
	-webkit-animation: colorchange 20s infinite;
	animation: colorchange 20s inifinite;
}
h3.intro {
	position: relative;
	width: 60%;
	text-align: left;
	top: 35%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.smallbook{
	overflow-y: hidden;
	max-height: 450px ! important;
	position: relative;            
	transform: translate(-0%, 45%);
}


.smalltitle {
	position: relative;            
    transform: translate(-0%, 0%);
}







h4{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	text-align: center;
	font-weight: lighter;
	margin-top: -15px;
}

h5{
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

p{
	font-family: 'Merriweather', serif;
	font-size: 14px;
	font-weight: lighter;
	text-align: left;
	padding-left: 15px;
	padding-right: 15px;
}

/* css for the start page */

#topwrap{
	background-color: #e7eee6;
}

#innertopwrap{
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#legendwrap{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	transform: translate(-0%, 180%);}

div#leftdiv{
	width: 33%;
	float: left;
	text-align: center;
}


div#middlediv{
	width: 33%;
	float: left;
	text-align: center;
	padding-top: 2px;
}

div#rightdiv{
	width: 33%;
	float: left;
	text-align: center;
}
	
/* css for the indivdual visualization pages no 01*/

section#viz01{
	background-color: #fbe7dd;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
}
div#keywrap01{
	background-color: #e7eee6;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox01{
	background-color: #b4e2d8;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key01{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}

/* css for the indivdual visualization pages no 02*/


section#viz02{
	background-color: #8ea9c4;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap02{
	background-color: #e7eee6;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox02{
	background-color: #b4e2d8;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key02{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}

/* css for the indivdual visualization pages no 03*/

section#viz03{
	background-color: #b4e2d8;
	width: 1200px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap03{
	background-color: #e7eee6;
	width: 	600px;
	height: 600px;
	float: right;
}

div#textbox03{
	background-color: #b4e2d8;
	width: 500px;
	float: right;
	margin-top: 50px;
}

div#key03{
	width: 	600px;
	height: 600px;
	margin-top: 200px;
	text-align: center;
}




/* Design for tablet*/

@media screen and (max-width: 768px){



#wrap{
	background-color: #e7eee6;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

img{
	height:auto;
	width:45%
}

/*h3{
	font-family: 'Oswald';
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}
*/
h4{
	font-family: times;
	font-size: 10px;
	text-align: center;
	font-weight: lighter;
	margin-top: -10px;
}

/* Design for tablet section 01*/

section#viz01{
	background-color: #fbe7dd;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

div#keywrap01{
	background-color: #e7eee6;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox01{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key01{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}

/* Design for tablet section 02*/

section#viz02{
	background-color: #8ea9c4;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap02{
	background-color: #e7eee6;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox02{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key02{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}

/* Design for tablet section 03*/

section#viz03{
	background-color: #b4e2d8;
	width: 700px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	
}

div#keywrap03{
	background-color: #e7eee6;
	width: 	350px;
	height: 500px;
	float: right;
	margin-top: -40px;
}

div#textbox03{
	background-color: #b4e2d8;
	width: 350px;
	float: right;
	margin-top: 50px;
}


div#key03{
	width: 	200px;
	height: 500px;
	margin-top: 200px;
	text-align: center;
}


div#book_01{
	width: 150px;
	height: 200px;
	background-color: #7ccbbd;
	float:left;
	
}

div#book_03{
	width: 150px;
	height: 200px;
	background-color: #7ccbbd;
	float: right;
}
div#book_02{
	width: 150px;
	height: 200px;
	background-color: #7ccbbd;
	margin-left:auto;
	margin-right:auto;
	
}
}


/* Design for Mobile*/

@media screen and (max-width: 460px) {
#wrap{
	background-color: #e7eee6;
	width: 400px;
	height: 1250px;
	margin-left: auto;
	margin-right: auto;
}

/*h3{
	font-family: 'Oswald';
	font-size: 18px;
	text-align: center;
	text-transform: uppercase;
}*/

h4{
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-align: center;
	font-weight: lighter;
	margin-top: -15px;
}
div#book_01{
	width: 400px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#book_02{
	width: 300px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

div#book_03{
	width: 300px;
	height: 400px;
	background-color: #7ccbbd;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

section#viz01{
	background-color: #fbe7dd;
	width: 400px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


div#keywrap01{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key01{
	margin-left: auto;
	margin-right: auto;
}

section#viz02{
	background-color: #cccccc;
	width: 400px;
	height: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
div#keywrap02{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key02{
	margin-left: auto;
	margin-right: auto;
}


section#viz03{
	background-color: #cccccc;
	width: 400px;
	height: 1250px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div#keywrap03{
	background-color: #e7eee6;
	width: 	400px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

div#key03{
	margin-left: auto;
	margin-right: auto;
}
}
